.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.backBtn, .moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  padding: 7px;
  border: 1px solid #111111;
  border-radius: 4px;
  font-size: 12px;
  color: #ffffff;
  background-color: #111111;
}

.backBtn {
  max-width: 75px;
}

.moreBtn {
  max-width: 100px;
}

.viewToolbar {
  display: flex;
}